{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}
{% block body %}
<center>
    <div class="container">
        <div class="row">

            <div class="col" align="left">
                <b>
                    The Kerala Urban Road Transport Corporation is a state-run bus company which operates more than 500 low-floor buses in Kerala.<br>
                    KURTC runs complete and individual services in Ernakulam & Thiruvananthapuram districts.<br>
                </b>
                    The remaining 12 districts are divided into 5 clusters;<br>
                    Cluster I comprises Kozhikode, Wayanad and Malappuram;<br>
                    Cluster II Kottayam, Thodupuzha, and Pathanamthitta;<br>
                    Cluster III Kannur and Kasaragod;<br>
                    Cluster IV Thrissur and Palakkad;<br>
                    and Cluster V Kollam and Alappuzha.<br>


            </div>

        </div>
    </div>
</center>
{% endblock %}
