{% extends 'myapp/admin_base1.html' %}
{% load static %}
{% block title %}Bus Type Update{% endblock %}
{% block body %}
<center>
    <h1>Bus Type Edit</h1>
    <div class="container">
     <form role="form" name="frm" action="{% url 'admin_bus_type_master_edit'%}" method="post">
        {% csrf_token %}
         <div class="form-group">
            <label for="bus_type">Type :</label>
            <input class="form-control" type="text" name="bus_type" id="bus_type" value="{{bus_type}}" required>
        </div>
        <button type="submit" class="btn btn-info" id="bt" name="bt">Update</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Clear</button>
        <input type="hidden" name="s_id" value="{{s_id}}">
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
