<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KSRTC CONCESSION</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{%static 'myapp/assets/img/favicon.png'%}" rel="icon">
  <link href="{%static 'myapp/assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'myapp/assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static 'myapp/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'myapp/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'myapp/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'myapp/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'myapp/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'myapp/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'myapp/assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{%url 'index'%}">KSRTC</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
<!--          <li><a class="nav-link scrollto" href="#services">Services</a></li>-->
<!--          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>-->
<!--          <li><a class="nav-link scrollto" href="#team">Team</a></li>-->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

          <li class="dropdown"><a href="#"><span>LOGIN</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{%url 'admin_login'%}">Admin</a></li>
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
              <li><a href="{%url 'depot_login'%}">Depot Admin</a></li>
              <li><a href="{%url 'institution_login'%}">Institute</a></li>
<!--              <li><a href="#">Drop Down 4</a></li>-->
            </ul>
          </li>

<!--          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>-->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <p><font color="#FFFFFF" size="25px" style="bold"> കേരള സ്റ്റേറ്റ് റോഡ് ട്രാൻസ്പോർട്ട് കോർപ്പറേഷൻ</font></p>
<!--          <h2>We are team of talented designers making websites with Bootstrap</h2>-->
          <div class="d-flex justify-content-center justify-content-lg-start">
<!--            <a href="#about" class="btn-get-started scrollto">Get Started</a>-->
<!--            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{%static 'myapp/assets/img/AANAVANDI.png'%}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">



    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              തിരുവിതാംകൂർ സ്റ്റേറ്റ് ട്രാൻസ്പോർട്ട് ഡിപാർട്ട്മെന്റ് എന്ന പേരിൽ തിരുവിതാംകൂറിലെ അവസാനത്തെ രാജാവായിരുന്ന ശ്രീ ചിത്തിര തിരുനാൾ ആണ് KSRTC സ്ഥാപിച്ചത് രാജ്യത്തിന്റെ ഗതാഗത ആവശ്യങ്ങൾ നിറവേറ്റുക ആയിരുന്നു സ്ഥാപിത ലക്ഷ്യം.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> സംസ്ഥാന മോട്ടോർ സർവ്വീസ് ശ്രീ ചിത്തിരതിരുന്നാൾ മഹാരാജാവ് 1938, ഫെബ്രുവരി 20-ന്[2] ഉദ്ഘാടനം ചെയ്തു. തിരുവിതാംകൂർ ദിവാനായിരുന്ന സി.പി. രാമസ്വാമി അയ്യരുടെ ആശയമായിരുന്നു സർക്കാർ വകയിലെ ബസ് സർവീസ്</li>
<!--              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>-->
<!--              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>-->
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              റോഡ് ട്രാൻസ്പോർട്ട് കോർപ്പറേഷൻ നിയമം 1950-ൽ നിലവിൽ വന്നതിനെ തുടർന്ന് കേരള സർക്കാർ 1965-ൽ കെ.എസ്.ആർ.ടി.സി. നിയമങ്ങൾ (സെക്ഷൻ 44) നിർമ്മിച്ചു. ഈ വകുപ്പ് 1965 ഏപ്രിൽ 1-നു ഒരു സ്വയംഭരണ സ്ഥാപനമാക്കി. കേരള സർക്കാരിന്റെ വിജ്ഞാ‍പന പ്രകാരം കേരള സ്റ്റേറ്റ് റോഡ് ട്രാൻസ്പോർട്ട് കോർപ്പറേഷൻ 1965 മാർച്ച് 15-നു സ്ഥാപിതമായി.
            </p>
            <a href="https://ml.wikipedia.org/wiki/%E0%B4%95%E0%B5%87%E0%B4%B0%E0%B4%B3_%E0%B4%B8%E0%B5%8D%E0%B4%B1%E0%B5%8D%E0%B4%B1%E0%B5%87%E0%B4%B1%E0%B5%8D%E0%B4%B1%E0%B5%8D_%E0%B4%B1%E0%B5%8B%E0%B4%A1%E0%B5%8D_%E0%B4%9F%E0%B5%8D%E0%B4%B0%E0%B4%BE%E0%B5%BB%E0%B4%B8%E0%B5%8D%E0%B4%AA%E0%B5%8B%E0%B5%BC%E0%B4%9F%E0%B5%8D%E0%B4%9F%E0%B5%8D_%E0%B4%95%E0%B5%8B%E0%B5%BC%E0%B4%AA%E0%B5%8D%E0%B4%AA%E0%B4%B1%E0%B5%87%E0%B4%B7%E0%B5%BB#%E0%B4%9A%E0%B4%B0%E0%B4%BF%E0%B4%A4%E0%B5%8D%E0%B4%B0%E0%B4%82" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->










    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>The Kerala Urban Road Transport Corporation (KURTC) is a state-run bus company which operates more than 500 low-floor buses (A/C & NON A/C) in Kerala. KURTC runs complete and individual services in Thiruvananthapuram & Ernakulam districts. The remaining 12 districts are divided into 5 clusters ; Cluster I comprises Kozhikode, Wayanad and Malappuram; Cluster II Kottayam, Thodupuzha, and Pathanamthitta; Cluster III Kannur and Kasaragod; Cluster IV Thrissur and Palakkad; and Cluster V Kollam and Alappuzha.</p>
        </div>

<!--        <div class="row">-->
<center>
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Transport Bhavan, Fort, Thiruvananthapuram, Kerala 695035</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>keralartc@billdesk.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 0000000000</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
</center>
<!--          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">-->
<!--            <form action="forms/contact.php" method="post" role="form" class="php-email-form">-->
<!--              <div class="row">-->
<!--                <div class="form-group col-md-6">-->
<!--                  <label for="name">Your Name</label>-->
<!--                  <input type="text" name="name" class="form-control" id="name" required>-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                  <label for="name">Your Email</label>-->
<!--                  <input type="email" class="form-control" name="email" id="email" required>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="name">Subject</label>-->
<!--                <input type="text" class="form-control" name="subject" id="subject" required>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <label for="name">Message</label>-->
<!--                <textarea class="form-control" name="message" rows="10" required></textarea>-->
<!--              </div>-->
<!--              <div class="my-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->
<!--              <div class="text-center"><button type="submit">Send Message</button></div>-->
<!--            </form>-->
<!--          </div>-->

<!--        </div>-->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
<!--            <h4>Join Our Newsletter</h4>-->
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
<!--            <form action="" method="post">-->
<!--              <input type="email" name="email"><input type="submit" value="Subscribe">-->
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="container footer-bottom clearfix">
      <center>
      <div class="copyright">
        &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
        </center>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
<!--        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'myapp/assets/vendor/aos/aos.js'%}"></script>
  <script src="{%static 'myapp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'myapp/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'myapp/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'myapp/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{%static 'myapp/assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <script src="{%static 'myapp/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'myapp/assets/js/main.js'%}"></script>

</body>

</html>