{% extends 'myapp/depot_base1.html' %}
{% load static %}
{% block title %}Route Details{% endblock %}
{% block body %}
<center>
    <h1>Route Details</h1>
    <div class="container">
    <form role="form" name="frm" action="" method="post">
        {% csrf_token %}
         <input class="form-control" type="hidden" name="bus_type_id" id="bus_type_id" value="{{bus_type_id}}" required>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Bus Type</th>
                <th>route_name</th>
                <th>src</th>
                <th>dest</th>
                <th>Action</th>
            </tr>
            </thead>
            {% for pd in route_list %}
            <tbody>
            <tr>
                <td>{{ pd.id }}</td>
                {% for h in bus_list%}
                {% if h.id == pd.bus_type_id%}
                <td>{{ h.bus_type }}</td>
                {%endif%}
                {% endfor %}
                <td>{{ pd.route_name }} </td>
                <td>{{ pd.src }}</td>
                <td>{{ pd.dest }}</td>
                <td>
                    <button type="button" class="btn btn-info p-1" onclick="location.href='../depot_route_stop_details_view?route_id={{ pd.id }}'">Stop Details</button>
                    <button type="button" class="btn btn-danger p-1" onclick="location.href='../depot_route_master_delete?id={{ pd.id }}'">Delete</button>

                </td>

            </tr>
            <tbody>
            {% endfor %}
        </table>
        <button type="button" class="btn btn-info" onclick="location.href='../depot_route_master_add'">Add Route</button></h1>
    </form>
    </div>
    <h3>{{msg}}</h3>
</center>
{% endblock %}
