{% extends 'myapp/institution_base1.html' %}
{% load static %}
{% block title %}Student Search{% endblock %}
{% block body %}
<center>
    <h2><font color="#366092">Student Search</font></h2>
    <div class="container">
    <form name="frm"  role="form" action="{% url 'institution_student_details_search' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="query">Query</label>
                <input class="form-control" type="text" name="query" placeholder="Student Name" id="query">
            </div>
        <button type="submit" class="btn btn-info" id="bt" name="bt">Search</button>
        <button type="reset" class="btn btn-info" id="rt" name="rt">Reset</button>
        {{msg}}
        </form>
    </div>
</center>
{% endblock %}