{% extends 'myapp/base1.html' %}
{% load static %}
{% block title %}Institution Login{% endblock %}
{% block body %}

<style>
  input[type=text]{  width: 100%;
  padding: 8px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 4px;
  color: black;}
  input[type=password]{  width: 100%;
  padding: 8px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 4px;
  color: black;}

</style>
<center>
     <h2><font color="#366092">Institution Login</font></h2>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
        <form role="form" name="frm" action="{% url 'institution_login' %}"  method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="uname">User Name</label>
                <input class="form-control" type="text" id="uname" name="uname">
            </div>
             <div class="form-group">
                 <label for="passwd">Password</label>
                 <input class="form-control" type="password" id="passwd" name="passwd">
             </div>
            <button type="submit" class="btn btn-primary" id="bt" name="bt">Login</button>
            <button type="reset" class="btn btn-success" id="rt" name="rt">Reset</button>

            <br/>
            <button type="button" class="btn btn-info" onclick="location.href='{% url 'institution_details_add' %}'">New Institution</button>
        </form>
    {{msg}}
    </div>
            <div class="col"></div>
        </div>
    </div>
</center>
{% endblock %}